@import "mixins";
.header{
  padding: .5em 0;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__logo{
    margin-right: auto;
    width: 13.3125em;
    flex-shrink: 0;
    img{
      width: 100%;
      display: block;
    }
  }
  &__lang{
    display: flex;
    align-items: center;
    margin-left: 6.25em;
    img{
      width: 2em;
      flex-shrink: 0;
      margin-right: .625em;
    }
  }
}

.header-contacts{
  display: flex;
  align-items: center;
  margin-left: 6.25em;
  &__item{
    display: flex;
    align-items: center;
    @include lastM(0 3.125em 0 0);
  }
  &__icon{
    border-radius: .3125em;
    background: #FF005C;
    margin-right: 1em;
    flex-shrink: 0;
    width: 2.75em;
    height: 2.75em;
    @include center;
    img{
      width: 1.5em;
    }
  }
  &__title{
    color: #ACACAC;
    font-size: .875em;
    line-height: 120%;
    margin-bottom: .2em;
  }
  &__link{
    font-size: 1.125em;
    line-height: 122%;
  }
}

.nav{
  display: flex;
  align-items: center;
  &__link{
    @include lastM(0 3.125em 0 0);
  }
}
